<a [routerLink]="['/book', id]">
  <md-card>
    <md-card-title-group>
      <img md-card-sm-image *ngIf="thumbnail" [src]="thumbnail" />
      <md-card-title>{{ title | bcEllipsis:35 }}</md-card-title>
      <md-card-subtitle *ngIf="subtitle">{{ subtitle | bcEllipsis:40 }}</md-card-subtitle>
    </md-card-title-group>
    <md-card-content>
      <p *ngIf="description">{{ description | bcEllipsis }}</p>
    </md-card-content>
    <md-card-footer>
      <app-book-authors [book]="book"></app-book-authors>
    </md-card-footer>
  </md-card>
</a>
