ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}

li {
  width: 90%;
  margin: 5px 0px;
}
