mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

input {
  width: 300px;
}

mat-card-spinner {
  padding-left: 60px; 
}

mat-spinner {
  width: 30px;
  height: 30px;
  position: relative;
  top: 10px;
  left: 10px;
  opacity: 0.0;
}

mat-spinner.show {
  opacity: 1.0;
}
