<md-tab-group>
  <md-tab label="rxjs/add/operator/map">
    <app-rxjs-training-map></app-rxjs-training-map>

  </md-tab>
  <md-tab label="Observable.create">
    <app-rxjs-training-create></app-rxjs-training-create>

  </md-tab>

  <md-tab label="Observable.never">
    <app-rxjs-training-never></app-rxjs-training-never>
  </md-tab>
  <md-tab label="移动DIV">
    <app-rxjs-training-from-event></app-rxjs-training-from-event>
  </md-tab>
  <md-tab label="http">
    <app-rxjs-training-http></app-rxjs-training-http>
  </md-tab>
</md-tab-group>
